## FalconX Quantitative Analyst Intern Assignment
### Shyam Iyer, IIT Bombay

Description of the notebook:

In [12]:
# Importing necessary packages

import pandas as pd
import requests
import json
import numpy as np

In [28]:
#The actual query

query = '''query trades{
    swaps(where:{pair: "0xd3d2e2692501a5c9ca623199d38826e513033a17", timestamp_gt: 1623812554}, orderBy: timestamp, orderDirection: desc) {
    id
    timestamp
    amount0In
    amount1In
    amount0Out
    amount1Out
    pair {
      token0 {
        symbol
      }
      token1 {
        symbol
      }
      volumeUSD
    }
    transaction {
      blockNumber
    }
  }
}
'''

In [29]:
#sending Query to Uniswap URL

url = 'https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2'
r = requests.post(url, json={'query': query})
print(r.status_code)

200

In [33]:
#Retrieving data as JSON

json_data = json.loads(r.text)

In [34]:
#Converting to DataFrame

df_data = json_data['data']['swaps']
df = pd.DataFrame(df_data)
df['side'] = np.where(df.amount0Out=='0', 'Sell', 'Buy')

In [32]:
#Printing DataFrame

print(df)

                amount0In               amount0Out             amount1In  \
0                      30                        0                     0
1                       0     5.546372447248362489                  0.05
2   759.80774558075333476                        0                     0
3                      30                        0                     0
4                      30                        0                     0
..                    ...                      ...                   ...
95                      0  1115.890426868306335826  9.753200937860375149
96                      0     5.114148266098449064           0.044677516
97                      0   493.331523907302815888  4.308975991822296687
98                     35                        0                     0
99          11.1914756174                        0                     0

              amount1Out                                                 id  \
0   0.268823923477353514  0x85ca92806c6e2f57155e97958ba32719ef3aab5b43c9...
1                      0  0x6d575967d503eefc006d9f4d5970cefa2b928c1c60b8...
2   6.810805649197774231  0x488a1e8991a6ce9fe44d4b4f03c7344b9694a2780c11...
3   0.269008395900146478  0x0ed954084519718e40d0571c2d5e33c373ed10108816...
4   0.269015456362153913  0xdac977d26867b4135a1387990bb6e24da82f0487c1b9...
..                   ...                                                ...
95                     0  0xa22fba2bbcacbfffab8e9c4b228e663c4f3f0c3a1e48...
96                     0  0xf41076cdcd1d1a936f41a00e08fcc0a2a0875c5c0ed2...
97                     0  0x8ffc82cc2e2b3b3ce869a763e885d4412b0a18c43941...
98  0.303934262105389659  0x23054a7c391911666adba1b62cf5c437058deec41ae1...
99  0.097145485525206876  0x4947e142e5a2fdcaa8249720557c5a75d8f2a364eea9...

                                                 pair   timestamp  \
0   {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624418149
1   {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624418121
2   {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624417990
3   {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624417738
4   {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624417725
..                                                ...         ...
95  {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624404739
96  {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624404720
97  {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624404720
98  {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624404720
99  {'token0': {'symbol': 'UNI'}, 'token1': {'symb...  1624404685

                    transaction  side
0   {'blockNumber': '12687998'}  Sell
1   {'blockNumber': '12687992'}   Buy
2   {'blockNumber': '12687984'}  Sell
3   {'blockNumber': '12687965'}  Sell
4   {'blockNumber': '12687962'}  Sell
..                          ...   ...
95  {'blockNumber': '12686989'}   Buy
96  {'blockNumber': '12686988'}   Buy
97  {'blockNumber': '12686988'}   Buy
98  {'blockNumber': '12686988'}  Sell
99  {'blockNumber': '12686985'}  Sell

[100 rows x 9 columns]

In [35]:
#Output to CSV file

df.to_csv('out.csv')